.container {
  margin: 1rem auto;
  text-align: center;
  width: fit-content;
  background-color: #faffe8;
  padding: 1rem 4rem 2rem;
  text-align: center;
  border-radius: 2rem;
  border: 0.5rem solid #ff6347;
}

.controlContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.control {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
}

.buttonsContainer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.buttonsContainer button {
  padding: 0.25rem 0.5rem;
  font-weight: bold;
  font-size: 1.125rem;
  background-color: #ff6347;
  border-radius: 0.25rem;
  border: none;
  color: white;
  cursor: pointer;
}
